body {
  background: #8400D1;
  color: #FFFFFF;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1rem;
}

h1, h2, h3 {
  text-transform: uppercase;
  text-align: center;
}

button:focus {
  outline: none;
}

button.flat {
  background: transparent;
  border: none;
}

button.circle {
  border-radius: 50%;
}
